.tesodev-logo {
    width: 28rem;
    height: 12rem;
    cursor: pointer;
}

/* .search-input {
    border-radius: 10px;
    display: inline !important; 
} */

.search-button {
    color: white;
    background-color: #01447b;
    border-radius: 10px;
}

input:invalid {
    border-color: red;
}

input:invalid:focus {
   border-color: red;
}